body {  
    background: rgb(85, 82, 82);/*page background color*/
    color: white;
    font-family: Arial, Helvetica, sans-serif, helvetica Neue;/*font style*/
    margin: 0;/*page margin*/
    padding: 0;/*page padding*/
}

/*Header*//**/

header {    
    background-color: black;/*not visible because of image*/
    background-image: url("Image/hero.jpg");/*link image location*/
    background-size: 100%;/*image size*/
    background-position: center;/*image position*/
    padding: 40px;/*text and logo padding*//*padding means the space around something*/
    height: 600px;/*height of the header*/
    text-align: center;/*text alighnment*/
}
header a {  /*div "a" items at header area*/
    color: white;/*color of div "a" which is the text*/
    text-decoration: none;/*text decoration like underlines,etc*/
    text-transform: uppercase;/*text case*/
    margin-top: 40px;/*top margin*/
    font-size: 40px;
    
}

header .mobile {
    display: none;
}

header .logo a {    /*div "a" with class logo at header area*/
    background-image: url("Image/logo.png");/*link image from derictory*/
    background-size: 290px;/*image size*/
    background-repeat: no-repeat;/*image no repeatation*/
    display: inline-block;/*image alighnment*/
    height: 125px;/*logo or image height*/
    position: relative;/*logo or image positioning*/
    text-indent: -999999999px;/*logo name indention*/
    top: -40px;/*indent logo at top*/
    width: 300px;/*logo/image width*/
    
}
nav ul {    
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

nav li {
    display: inline-block;
    margin-right: 20px;
}

/*RESPONSIVE RULES*/

@media screen and (max-width: 1400px){
    header  {
        background-size: 1400px;
    }
}

@media screen and (max-width: 1920px){
    /*header{
        background-position: 0 0;
    }*/
    header .mobile {
        display: inline-block;  
    }

    header .desktop {
        display: none;
    }
}




/*Features*/

.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
    
}
.features figure img {
    border: 1px;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    width: 350px;
}

/*Footer*/

footer {
    background: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
  
}
